.about {
  padding-top: 0;
  &__container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
  }

  &__title {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-list-container {
  position: relative;
  &__text {
    padding-bottom: 27px;
    padding-top: 27px;
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }
}
