.clients {
  &__container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    @media screen and (min-width: 480px) {
      max-width: 480px;
    }
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__title {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}
.clients-list {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(-1 * var(--primary-gap));
    margin-top: calc(-1 * var(--primary-gap));
  }

  &__item {
    flex-basis: calc(100% / 2 - var(--primary-gap));
    margin-left: var(--primary-gap);
    margin-top: var(--primary-gap);

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 3 - var(--primary-gap));
      margin-left: var(--primary-gap);
      margin-top: var(--primary-gap);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 6 - var(--primary-gap));
      margin-left: var(--primary-gap);
      margin-top: var(--primary-gap);
    }
  }

  &__link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    color: #afb1b8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
    }
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}
