.features {
  &__container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    @media screen and (min-width: 480px) {
      max-width: 480px;
    }
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }
}
.features-list {
  &__content {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(-1 * var(--primary-gap));
      margin-top: calc(-1 * var(--primary-gap));
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: 30px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - var(--primary-gap));
      margin-left: var(--primary-gap);
      margin-top: var(--primary-gap);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - var(--primary-gap));
      margin-left: var(--primary-gap);
      margin-top: var(--primary-gap);
    }
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 10px;

    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__text {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.features-list-icon {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  &__antenna,
  &__clock,
  &__diagram,
  &__astronaut {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
