.team {
  background-color: var(--third-background-color);
  &__container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    @media screen and (min-width: 480px) {
      max-width: 480px;
    }
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__title {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}

.team-list {
  &__content {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(-1 * var(--primary-gap));
      margin-top: calc(-1 * var(--primary-gap));
    }
  }

  &__item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-background-color);
    &:not(:first-child) {
      margin-top: 30px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - var(--primary-gap));
      margin-left: var(--primary-gap);
      margin-top: var(--primary-gap);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - var(--primary-gap));
      margin-left: var(--primary-gap);
      margin-top: var(--primary-gap);
    }
  }
}

.team-list-descr {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  &__title {
    margin-bottom: 10px;

    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
